<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="container flex-row items-center justify-between p-0">
        <span>{{ "toolbar.title" | translate }}</span>
        <div class="flex-row gap-1 items-center">
          <button mat-button (click)="switchLanguage()">
            <div class="flex-row gap-1/2 items-center">
              <mat-icon>language</mat-icon>
              <span>{{ currentLanguage === "en" ? "AR" : "EN" }}</span>
            </div>
          </button>
          <app-theme-toggler></app-theme-toggler>
        </div>
      </div>
    </mat-toolbar>
    <main class="container py-2">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
